{% extends "base.html" %} 

{% block title %}Main page{% endblock %}

{% block header %}Last notes{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      {% for note in page_obj %}
        <div class="card mb-3 mt-1 shadow-sm">
          <div class="card-header">
            {% with name=note.author.get_full_name %}  
              <span class="mr-3">{{ name }}</span><a class="btn btn-sm btn-outline-dark" href="{% url 'note' note.id %}">{{ note.published|date:"d M Y" }}</a>
            {% endwith %}
          </div>

          <div class="card-body row">
            <p class="card-text col border-right">
              {{ note.text_ru|linebreaksbr }}
            </p>
            <p class="card-text text-muted col">
              {{ note.text_en|linebreaksbr }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
      {% include 'include/paginator.html' with page=page_obj paginator=paginator%}
    {% endif %}
  </div>
{% endblock content%}
