{% extends "base.html" %} 

{% block title %}Main page{% endblock %}

{% block header %}Last notes{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      {% for note in page_obj %}
        {% include 'include/note_card.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center">
    {% if page_obj.has_other_pages %}
      {% include 'include/paginator.html' with page=page_obj paginator=paginator%}
    {% endif %}
  </div>
{% endblock content%}
