{% extends "base.html" %} 

{% block title %}Main page{% endblock %}

{% block header %}Notes{% endblock %}

{% block content %}
  <div class="row justify-content-center justify-content-lg-start">
    <div class="col-12 col-lg-8">
      {% for note in page_obj %}
        {% include 'include/note_card.html' %}
      {% endfor %}
    </div>
    <div class="col-sm-12 col-lg-4">
      {% include 'include/sidebar.html' %}
    </div>
  </div>
  <div class="row justify-content-center">
    {% if page_obj.has_other_pages %}
      {% include 'include/paginator.html' with page=page_obj paginator=paginator%}
    {% endif %}
  </div>
{% endblock content%}
