{% extends 'base.html' %}
{% load user_filters %}

{% block title %}
  {% if post %}
    Editing
  {% else %}
    Creating
  {% endif %}
{% endblock title %}

{% block header %}
  {% if post %}
    Edit post
  {% else %}
    New post
  {% endif %}
{% endblock header %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="card mx-3 mb-3 shadow-sm">
        <div class="card-header">
          {% if post %}
            Edit this post
          {% else %}
            Create a new post
          {% endif %}
        </div>

        <div class="card-body">
          {% if form.errors %}
            {% for error in form.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-right">{{ field.label }}</label>
                <div class="col-md-8">
                  {{ field|addclass:"form-control" }}

                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="col-md-6 offset-md-4">              
              <button type="submit" class="btn btn-primary">
                {% if post %}
                  Save
                {% else %}
                  Publish
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}