# environment
.git/*
env/
venv/
.venv
.venv/
.env
pyproject.toml
poetry.lock
host.conf

# cache
__pycache__/
*.py[cod]

# apple
.idea
.DS_Store
._.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

# media and static
static/*
media/*
projectstatic/bootstrap.zip
!static/.gitkeep
!media/.gitkeep

# db
db.sqlite3

# git
.github
.gitignore
.git

# docker
docker-compose.yaml

# other
dump.json
.vscode
Makefile
README.md
