# environment
.git/*
env/
venv/
.venv
.venv/
.env

# cache
__pycache__/
*.py[cod]

# apple
.idea
.DS_Store
._.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

# media and static
static/*
posts/static/*
media/*
projectstatic/*
!static/.gitkeep
!posts/static/.gitkeep
!media/.gitkeep
!projectstatic/bootstrap.zip
!projectstatic/media

# db
db.sqlite3

# git
.github
.gitignore
.git

# docker
docker-compose.yaml

# other
dump.json
.vscode
Makefile
README.md
