{% extends "base.html" %}
{% load user_filters %}

{% block title %}Password change{% endblock %}

{% block header %}Password change{% endblock header %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 px-5">
      <div class="card">
        <div class="card-header">Here you can change your password</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}</label>
                <div class="col-md-6">
                  {{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                   <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="col-md-6 offset-md-4">              
              <button type="submit" class="btn btn-primary">
                Change password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}