{% extends "base.html" %}

{% block title %}Success{% endblock %}

{% block header %}Password change{% endblock header %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 px-5">
      <div class="card">
        <div class="card-header">Success</div>
        <div class="card-body">
          <p>Password has been successfully changed.</p>
          <div class="col-md-6 offset-md-4">              
            <a href="{% url 'notes:index' %}" class="btn btn-primary">Back to main page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}