{% extends "base.html" %}
{% load user_filters %}

{% block title %}Password reset confirm{% endblock %}

{% block header %}Password reset{% endblock header %}

{% block content %}
  {% if validlink %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Type your new password</div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              {% for field in form %}
                <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                  <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}</label>
                  <div class="col-md-6">

                    {{ field|addclass:"form-control" }}

                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}

              <div class="col-md-6 offset-md-4">              
                <button type="submit" class="btn btn-primary">
                  Confirm new password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Oops!</div>
          <div class="card-body">
            <p>The password reset link is invalid or out of date.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}