{% extends "base.html" %}
{% load user_filters %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block header %}Signup{% endblock header %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 px-5">
      <div class="card">
        <div class="card-header">Create an account</div>
        <div class="card-body">
        
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>

          {% if form.errors %}
            {% for error in form.errors %}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 mr-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required"> <span style="color:red">*</span></span>{% endif %}</label>
                <div class="col-md-6">

                  {{ field|addclass:"form-control" }}

                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="col-md-6 offset-md-4 text-center">              
              <button type="submit" class="btn btn-primary">
                Create account
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}