{% load user_filters %}

{% load static %}

<div class="row my-4">
  <div class="col">
    {% if user.is_authenticated %} 
      <div class="card">
        <form action="{% url 'comment_new' note.id %}" method="post">
          {% csrf_token %}
          <div class="card-header">
            <span class="mr-3">Add a comment</span>
          </div>
          <div class="card-body">
            <div class="form-group">
              {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Leave a comment</button>
          </div>
        </form>
      </div>
    {% endif %}
  </div>

  <div class="col">
    {% for comment in comments %}
      <div class="card border-dark mb-3">
        <div class="card-header border-bottom border-dark">
          <div class="d-flex justify-content-between">
            <span>{{ comment.author.get_full_name }} on {{comment.published|date:"d M Y \a\t H:i"}}</span>

            {% if comment.author.username == user.username or user.is_admin %}
              <form class="d-flex align-items-center" method="POST" enctype="multipart/form-data" action="{% url 'comment_delete' pk=note.pk comment_pk=comment.pk %}">
                {% csrf_token %}
                <input type="image" width="15" src="{% static 'icons/close.png' %}">
              </form>
            {% endif %}

          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ comment.text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

