<footer class="my-5" style="background-color: #FFFFFF;">
    <div class="row justify-content-center mb-5">
        <p class="col-3 col-auto m-0 text-dark text-center border-right">Молчи, не бойся. Верь и успокойся.</p>
        <p class="col-3 col-auto m-0 text-muted text-center">Be quiet, don't be afraid. Believe and calm down.</p>
    </div>
    <div class="row justify-content-center">
        <p class="col-2 col-auto m-0 text-dark text-center"><a href="#">Author</a></p>
        <p class="col-2 col-auto m-0 text-dark text-center">2020-{{ year }}</p>
        <p class="col-2 col-auto m-0 text-dark text-center"><a href="#">Spec</a></p>
    </div>
</footer>