<footer class="my-5" style="background-color: #FFFFFF;">
    <div class="row justify-content-center mb-2">
        <p class="col col-lg-3 text-right border-right"><a href="{% url 'author' %}">Author</a></p>
        <p class="col col-lg-3 text-left"><a href="{% url 'tech' %}">Tech</a></p>
    </div>
    <div class="row justify-content-center mb-2">
        <p class="col col-lg-3 text-dark text-right border-right">Be quiet, don't be afraid. Believe and calm down.</p>
        <p class="col col-lg-3 text-muted text-left">Молчи, не бойся. Верь и успокойся.</p>
    </div>
    <div class="row justify-content-center">
        <p class="col-12 mb-0 text-muted text-center"><small>Works on Django 3.2.4 & Python 3.9.2</small></p>
        <p class="col-12 text-muted text-center"><small>Yandex.Cloud © 2021-{{ year }}</small></p>
        <p class="col-12 text-muted text-center">
          <span class="pr-1"><small>Visits:</small></span>
          <!-- Yandex.Metrika informer -->
          <a style="width:80px; height:15px; border:0;" href="https://metrika.yandex.ru/stat/?id=82858465&amp;from=informer"target="_blank" rel="nofollow">
            <img src="https://informer.yandex.ru/informer/82858465/1_0_EFEFEFFF_EFEFEFFF_0_pageviews" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="82858465" data-lang="ru" />
          </a>
          <!-- /Yandex.Metrika informer -->
        </p>
    </div>
</footer>