<footer class="my-5" style="background-color: #FFFFFF;">
    <div class="row justify-content-center mb-5">
        <p class="col-6 col-auto m-0 text-dark text-right border-right">Молчи, не бойся. Верь и успокойся.</p>
        <p class="col-6 col-auto m-0 text-muted text-left">Be quiet, don't be afraid. Believe and calm down.</p>
    </div>
    <div class="row justify-content-center">
        <p class="col-4 col-auto m-0 text-dark text-center"><a href="{% url 'author' %}">Author</a></p>
        <p class="col-2 col-auto m-0 text-dark text-center">2020-{{ year }}</p>
        <p class="col-4 col-auto m-0 text-dark text-center"><a href="{% url 'tech' %}">Tech</a></p>
    </div>
</footer>