<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-secondary pr-3" href="/">VILAGOV BLOG</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">

    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar3 d-none" viewBox="0 0 16 16">
      <symbol id="change-password-icon" fill="currentColor" viewBox="0 0 16 16">
        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
      </symbol>
      <symbol id="login-icon" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </symbol>
      <symbol id="logout-icon" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </symbol>
      <symbol id="signup-icon" fill="currentColor" viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
      </symbol>
      <symbol id="add-note-icon" fill="currentColor" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </symbol>
      <symbol id="add-post-icon" fill="currentColor" viewBox="0 0 16 16">
        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
      </symbol>
      <symbol id="profile-icon" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </symbol>
    </svg>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="{% url 'posts:posts' %}">Posts</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'notes:notes' %}">Notes</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'author' %}">Author</a></li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Me</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'password_change' %}">
                <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#change-password-icon"/></svg>
                Change password
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#logout-icon"/></svg>
                Logout
              </a>
            </li>
            {% if user.is_admin %}
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'notes:new' %}">
                  <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#add-note-icon"/></svg>
                  New note
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" d-flex align-items-center href="{% url 'posts:new' %}">
                  <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#add-post-icon"/></svg>
                  New post
                </a>
              </li>
            {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li>
                <span class="dropdown-item text-primary d-flex align-items-center">
                  <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#profile-icon"/></svg>
                  {{ user.get_full_name }}
                </span>
              </li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sign in</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#login-icon"/></svg>
                Login
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'signup' %}">
                <svg class="bi flex-shrink-0 mr-2" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#signup-icon"/></svg>
                Sign up
              </a>
            </li>
          </ul>
        </li>
      {% endif %}
      <li class="nav-item">
        <span class="navbar-text text-dark">{{ weekday }}<span class="text-black-50"> – </span>{{ today|date:"d M Y"}}</span>
      </li>
    </ul>
  </div>
</nav>
