{% url 'notes:notes' as url_notes %}

{% with name=note.author.get_full_name %}
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar3 d-none" viewBox="0 0 16 16">
        <symbol id="calendar-icon" fill="currentColor" viewBox="0 0 16 16">
          <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
          <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </symbol>
      </svg>

      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center align-middle">
          <svg class="bi flex-shrink-0 mr-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#calendar-icon"/></svg>
          <span class="mr-2">{{note.published|date:"d.m.y \a\t H:i"}}</span><span class='mr-4 text-muted'>UTC</span>
          {% if request.path == url_notes %}
            <a class="btn btn-sm btn-outline-dark" href="{% url 'notes:note' note.id %}">comment</a>
          {% else %}
            {% if user.username == note.author.username %}
              <a class="mr-3 btn btn-sm btn-outline-dark" href="{% url 'notes:note_edit' note.id %}">Edit</a>
              <a class="mr-0 r-md-3 btn btn-sm btn-outline-danger" href="{% url 'notes:note_delete' note.id %}">Delete</a>
            {% endif %}
          {% endif %}
        </div>
        <span class="text-muted d-none d-md-inline">{{ name }}</span>
      </div>
    </div>

    <div class="card-body">
      <div class="row row-cols-6 row-cols-lg-2">
        <div class="card-text col-sm-12 col-lg-6 pb-3">
          {{ note.text_en|linebreaksbr }}
        </div>
        <div class="card-text col-sm-12 col-lg-6 text-muted">
          {{ note.text_ru|linebreaksbr }}
        </div>
      </div>
      <div class="card-title text-right text-secondary mb-0 d-lg-none d-md-none">
        <small>{{ name }}</small>
      </div>
    </div>
  </div>
{% endwith %}
