{% url 'posts:posts' as url_posts %}

{% with name=post.author.get_full_name %}
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center align-middle">
          <svg class="bi flex-shrink-0 mr-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#calendar-icon"/></svg>
          <span class="mr-5">{{post.published|date:"d M Y"}}</span>
          {% if request.path == url_posts %}
            <a class="btn btn-sm btn-outline-dark" href="{% url 'posts:post' post.id %}">
              <svg class="bi flex-shrink-0 mr-1" width="18" height="18" role="img" aria-label="Info:"><use xlink:href="#comment-icon"/></svg>
              add comment
            </a>
          {% else %}
            {% if user.username == post.author.username %}
              <a class="mr-3 btn btn-sm btn-outline-dark" href="{% url 'posts:post_edit' post.id %}">Edit</a>
              <a class="mr-0 r-md-3 btn btn-sm btn-outline-danger" href="{% url 'posts:post_delete' post.id %}">Delete</a>
            {% endif %}
          {% endif %}
        </div>
        <span class="text-muted d-none d-md-inline">{{ name }}</span>
      </div>
    </div>

    <div class="card-body">
      <div class="row row-cols-6 row-cols-lg-2">
        <div class="card-text col-sm-12 col-lg-9">
          {{ post.text|safe }}
        </div>
      </div>
      <div class="card-title text-right text-secondary mb-0 d-lg-none d-md-none">
        <small>{{ name }}</small>
      </div>
    </div>
  </div>
{% endwith %}
