{% url 'posts:posts' as url_posts %}

{% with name=post.author.get_full_name %}
  <div class="card shadow-sm">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center align-middle">
          <svg class="bi flex-shrink-0 mr-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#calendar-icon"/></svg>
          <span class="mr-5">{{post.published|date:"d M Y"}}</span>
          <a class="btn btn-sm btn-outline-dark d-flex align-items-center" href="{% url 'posts:post' post.id %}">
            <svg class="bi flex-shrink-0 mr-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#open-icon"/></svg>
            open post
          </a>
        </div>
        <span class="text-muted d-none d-md-inline">{{ name }}</span>
      </div>
    </div>

    <div class="card-body">
      <div class="row row-cols-6 row-cols-lg-2">
        <div class="card-text col-12">
          {{ post.preview|linebreaksbr }}
        </div>
      </div>
      <div class="card-title text-right text-secondary mb-0 d-lg-none d-md-none">
        <small>{{ name }}</small>
      </div>
    </div>
  </div>
{% endwith %}
