<div class="card mb-3 text-muted">
  <ul class="list-group list-group-flush border-dark">
    <li class="list-group-item py-3 d-flex justify-content-between">
      <span>Subscribe</span>
      <span>(will appear soon)</span>
    </li>
    <li class="list-group-item py-3 d-flex justify-content-between">
      <span>Search</span>
      <span>(will appear soon)</span>
    </li>
  </ul>
</div>

<div class="card text-muted mb-4">
  <div class="card-header">
    Last posts
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">(will appear soon)</li>
  </ul>
</div>