{% extends "base.html" %}

{% block title %}Errror 404{% endblock %}

{% block header %}404: Page not found{% endblock header %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 px-5">
      <div class="card">
        <div class="card-header">Page not found</div>
        <div class="card-body">
          <p>Incorrect url address.</p>
          <div class="col-md-6 offset-md-4">
            <a href="{% url 'notes:index' %}" class="btn btn-primary">Back to main page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
