{% extends "base.html" %}

{% block title %}Errror 404{% endblock %}

{% block header %}500: Server error{% endblock header %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 px-5">
      <div class="card">
        <div class="card-header">Server error</div>
        <div class="card-body">
          <p>There is something wrong on server.</p>
          <p>Please, notify author.</p>
          <div class="col-md-6 offset-md-4">
            <a href="{% url 'notes' %}" class="btn btn-primary">Back to main page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
