{% extends "base.html" %}

{% load static %}

{% block title %}About author{% endblock %}

{% block header %}{{ title }}{% endblock header %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-7 text-center pb-5">
      <img width="328" height="532"  src="{% if author %}{% static 'media/photos/author.jpg' %}{% else %}{% static 'media/photos/tech.jpg' %}{% endif %}" class="img-thumbnail" alt="Photo of Evan Vilagov in Prague">
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="row">

        <div class="col-12 pb-3">
          <div class="list-group">
            {% for key, value in links.items %}
              <a href="{{ value }}" class="list-group-item list-group-item-action"><small class="text-muted mr-3">{% if author %}on{% else %}used{% endif %}</small> {{ key }}</a>
            {% endfor %}
          </div>
        </div>

      {% if author %}
        <div class="col-12 pb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Об авторе</h5>
              <p class="card-text">{{ text_ru }}</p>
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="card">
            <div class="card-body text-secondary">
              <h5 class="card-title">About author</h5>
              <p class="card-text">{{ text_en }}</p>
            </div>
          </div>
        </div>
      {% endif %}

      </div>
    </div>
  </diwv>
{% endblock %}